<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>OpenCB</title>


  <style>
    * {
      margin: 0;
    }
  </style>
  <script language="javascript" type="text/javascript" defer>
      
      	var websocket = new WebSocket("ws://nodejs-mongodb-example-opencb.0ec9.hackathon.openshiftapps.com:8000/", "yh001");
      	
      	websocket.onopen = function(e) { 
      		console.log("ws open");
      		console.log(e);
      		websocket.send("ws hello");
      	};

      	websocket.onclose = function(e) {
      		console.log("ws close");
      		console.log(e); 
      	};
      	
      	websocket.onmessage = function(e) {  
      		console.log("ws msg");
      		console.log(e.data);
      	};
      	
      	websocket.onerror = function(e) {
      		console.log("ws error ");
      		console.log(e);
      	};
  </script>
</head>

<body>

  <section class='container'>

    <h1>OpenCB</h1>

    <h2>Introduction</h2>

    <p>Todo... </p>

  </section>
</body>

</html>